DATABASE_URL=postgresql://usuario:senha@localhost:5432/burger_house
SECRET_KEY=troque_essa_chave
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
FRONTEND_URL=http://localhost:5500
GITHUB_PAGES_URL=https://SEU_USUARIO.github.io/NOME_DO_REPOSITORIO
ADMIN_NAME=Administrador Burger House
ADMIN_EMAIL=admin@burgerhouse.com.br
ADMIN_PASSWORD=troque_essa_senha
